<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

    <div fxFlex="40" *ngIf="dish">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3 *ngIf="dish">  {{dish.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{dish.image}} alt={{dish.image}}>
            <mat-card-content>
                <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink]="['/dishdetail',prev]">
                    <span class="fa fa-chevron-left fa-lg"></span>
                </button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <button mat-button (click)="goBack()">BACK</button>
                <span class="flex-spacer"></span>
                <button mat-button [routerLink]="['/dishdetail',next]">
                    <span class="fa fa-chevron-right fa-lg"></span>
                </button>

            </mat-card-actions>
        </mat-card>

    </div>

    <div fxFlex="40" *ngIf="dish">
        <div fxFlex>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h3>{{"Comments" | uppercase}}</h3>
                    </mat-card-title>
                </mat-card-header>

                <mat-list>
                    <mat-list-item *ngFor="let list of dish.comments">
                        <h3 mat-line> {{list.comment}}</h3>
                        <p mat-line> {{list.rating }}{{" Star"}} </p>
                        <h3 mat-line> {{list.author}}</h3>
                        <h3 mat-line> {{list.date | date}}</h3>
     

                    </mat-list-item>
                

                        <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
                            <p>
                            <mat-form-field  fxFlex="100">
                              <input matInput placeholder="Name" formControlName="author" type="text" required >
                              <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
                            </mat-form-field>
                            </p>

                            <p>
                            <mat-slider
                           
                                thumbLabel="formateLabel"
                                tickInterval="1"
                                min="0" 
                                max="5" 
                                step="1" 
                                value="5">
                            
                            </mat-slider>
                            </p>
                            
                            <p >
                            <mat-form-field fxFlex="100" rows="12">
                                <textarea matInput rows="12" formControlName="comment" placeholder="Comment" type="text" required></textarea>
                                <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
                            </mat-form-field>
                            </p>
                        
                        
                        <button mat-raised-button color="primary" type="submit" [disabled]="commentForm.invalid">Submit</button>
                    </form>
                    
                    
                    
                </mat-list>
            </mat-card>
        </div>




    </div>
    <div fxFlex [hidden]="dish" >
        <mat-spinner> </mat-spinner><h4>Loading....Please Wait</h4>
      </div>



</div>